<navigation id="navbar">
    <div class="navbar__title" ng-bind="date  | date:'EEE dd MMM yyyy'"></div>
    <i class="navbar__search fa fa-search" ng-click="toggleClass()"></i>
    <i class="navbar__refresh fa fa-location-arrow" ng-click="searchByPosition()"></i>
</navigation>
<div class="slider">
    <section id="weather">
        <div class="weather__location">
            <i class="fa fa-map-marker"></i>
            <span class="weather__location__city" ng-bind="cityname+', '+country"></span>
        </div>
        <div class="weather__center-block">
            <div class="weather__center-block-upper">
                <span class="weather__center-block__icon"><i class="wi wi-owm-{{icon}}"></i></span>
                <span class="weather__center-block__temp" ng-show="currenttemp" ng-bind="Math.round(currenttemp)+'&deg;C'"></span>
            </div>
            <div class="weather__center-block__desc" ng-bind="description"></div>
        </div>
        <div id="details">
            <div class="details__wind">
                <p><i class="wi wi-small-craft-advisory"></i><span ng-bind="' '+windspeed+' m/s'"></span></p>
                <p><i id="windir-icon" class="wi wi-wind towards-0-deg windir-icon"></i><span ng-bind="' '+winddir+' deg'"></span></p>
            </div>
            <div class="details__temp">
                <p><i class="wi wi-humidity"></i><span ng-bind="' '+humidity"></span></p>
                <p><i class="wi wi-barometer"></i><span ng-bind="' '+pressure"></span></p>
            </div>
        </div>
    </section> <!-- weather -->
    <div class="nav-arrow-right"><a href="#/forecast"><i class="wi wi-direction-right"></i></a></div>
    <div class="search-panel">
        <form class="search-form" ng-submit="search()">
            <input type="text" ng-model="city" onFocus="javascript:this.value=''">
            <input type="submit" ng-click="toggleClass()">
        </form>
    </div>
</div> <!-- slider -->