/*--------------------*\
	Variables
\*--------------------*/
/*--------------------*\
	Bases
\*--------------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  background: #24c7dc;
  background: -moz-linear-gradient(-45deg, #24c7dc 0%, #514a9d 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #24c7dc), color-stop(100%, #514a9d));
  background: -webkit-linear-gradient(-45deg, #24c7dc 0%, #514a9d 100%);
  background: -o-linear-gradient(-45deg, #24c7dc 0%, #514a9d 100%);
  background: -ms-linear-gradient(-45deg, #24c7dc 0%, #514a9d 100%);
  background: linear-gradient(135deg, #24c7dc 0%, #514a9d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c7dc', endColorstr='#514a9d', GradientType=1 ); }

@keyframes preview {
  0% {
    transform: translateX(0); }
  70% {
    transform: translateX(-50px); }
  100% {
    transform: translateX(0); } }
#weather,
#forecast {
  height: calc(100vh - 60px);
  margin-top: 60px; }

#weather {
  padding-bottom: 20%; }

.animate {
  animation: preview 1s ease-in-out; }

.bg-decoration-1,
.bg-decoration-2 {
  position: absolute;
  width: 200%;
  height: 200%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%; }

.bg-decoration-1 {
  bottom: 20px;
  right: 0; }

.bg-decoration-2 {
  bottom: 50px;
  right: 0; }

.container {
  height: calc(100vh + 100px); }

.window {
  height: 100vh;
  overflow-y: hidden; }

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6); }

.spinner {
  height: 40px;
  width: 40px;
  border: 6px solid rgba(0, 174, 239, 0.2);
  border-top-color: rgba(0, 174, 239, 0.8);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;
  /* the opacity is used to lazyload the spinner, see animation delay */
  /* this avoid the spinner to be displayed when visible for a very short period of time */
  opacity: 0; }

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg); }
  to {
    opacity: 1;
    transform: rotate(359deg); } }
.slide {
  transform: translate3D(0, -100px, 0) !important; }

/*--------------------*\
	Side Menu
\*--------------------*/
.sidemenu {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  padding: 0 20px;
  background-color: rgba(0, 0, 0, 0.8); }
  .sidemenu .back-icon {
    padding: 10px; }

.sidemenu__addbookmark {
  display: flex;
  margin: 20px 0; }
  .sidemenu__addbookmark * {
    height: 40px; }
  .sidemenu__addbookmark input,
  .sidemenu__addbookmark button {
    padding: 0 10px;
    background: transparent;
    border: 1px solid #ccc;
    outline: none; }
  .sidemenu__addbookmark input {
    width: calc(100% - 40px); }
  .sidemenu__addbookmark button {
    width: 40px;
    line-height: 40px;
    color: #ccc; }

.sidemenu__bookmark-list {
  display: flex;
  flex-flow: column nowrap; }

.sidemenu__bookmark {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  font-size: 1.2em;
  font-weight: 100; }
  .sidemenu__bookmark:not(:last-child) {
    border-bottom: 1px solid #ccc; }

/*--------------------*\
	Navbar
\*--------------------*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  width: 100%;
  height: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.navbar__title {
  font-size: 20px;
  font-weight: 400; }

.navbar__hamburger,
.navbar__refresh {
  font-size: 1.5em;
  cursor: pointer; }

/*--------------------*\
	Weather
\*--------------------*/
#weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center; }

.weather__location {
  display: inline-block;
  height: 20px;
  width: 100%;
  line-height: 20px;
  padding: 10px;
  font-size: 1.5em;
  text-align: left; }

.weather__center-block {
  width: 100%;
  text-align: center; }

.weather__center-block-upper {
  display: flex;
  justify-content: center; }

.weather__center-block__temp {
  padding: 0;
  margin-left: 10px;
  font-size: 4em; }

.weather__center-block__icon {
  padding: 0;
  font-size: 2em;
  vertical-align: middle; }

.weather__center-block__desc {
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 100; }

/*--------------------*\
	Details
\*--------------------*/
#details {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: 100;
  padding: 0 20px; }

.details__wind, .details__misc {
  height: 100px; }
  .details__wind p, .details__misc p {
    margin: 5px 0;
    padding: 0;
    text-align: left; }
  .details__wind i, .details__misc i {
    margin-right: 5px; }

.windir-icon {
  display: inline-block; }

.windspeed-icon {
  padding-left: 5px; }

/*--------------------*\
	Forecast
\*--------------------*/
#forecast {
  display: flex;
  flex-direction: column; }

.forecast__day {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20%;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3); }
  .forecast__day i.sky-icon {
    font-size: 2em;
    margin-bottom: 10px; }

.forecast__day-description {
  font-weight: 100; }

.forecast__day-dayName {
  font-size: 1.5em;
  font-weight: 100; }

.forecast__day-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .forecast__day-left p {
    font-size: 1em; }
  .forecast__day-left p.forecast__day-wind {
    font-size: 0.8em;
    font-weight: 100; }
