/*--------------------*\
	Variables
\*--------------------*/
/*--------------------*\
	Bases
\*--------------------*/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

a {
  color: inherit; }

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  color: #fff;
  background: #24c7dc;
  background: -moz-linear-gradient(-45deg, #24c7dc 0%, #514a9d 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #24c7dc), color-stop(100%, #514a9d));
  background: -webkit-linear-gradient(-45deg, #24c7dc 0%, #514a9d 100%);
  background: -o-linear-gradient(-45deg, #24c7dc 0%, #514a9d 100%);
  background: -ms-linear-gradient(-45deg, #24c7dc 0%, #514a9d 100%);
  background: linear-gradient(135deg, #24c7dc 0%, #514a9d 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#24c7dc', endColorstr='#514a9d', GradientType=1 );
  overflow: hidden; }

.loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.6); }

.spinner {
  height: 40px;
  width: 40px;
  border: 6px solid rgba(0, 174, 239, 0.2);
  border-top-color: rgba(0, 174, 239, 0.8);
  border-radius: 100%;
  animation: rotation 0.6s infinite linear 0.25s;
  /* the opacity is used to lazyload the spinner, see animation delay */
  /* this avoid the spinner to be displayed when visible for a very short period of time */
  opacity: 0; }

@keyframes rotation {
  from {
    opacity: 1;
    transform: rotate(0deg); }
  to {
    opacity: 1;
    transform: rotate(359deg); } }
.slider {
  position: absolute;
  top: -100px;
  bottom: 0;
  left: 0;
  right: 0;
  -moz-transform: translate3D(0, 100px, 0);
  -ms-transform: translate3D(0, 100px, 0);
  -webkit-transform: translate3D(0, 100px, 0);
  transform: translate3D(0, 100px, 0);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.slide {
  -moz-transform: translate3D(0, 0, 0);
  -ms-transform: translate3D(0, 0, 0);
  -webkit-transform: translate3D(0, 0, 0);
  transform: translate3D(0, 0, 0); }

.nav-arrow-right, .nav-arrow-left {
  top: 50%;
  font-size: 2em;
  position: fixed;
  opacity: 0.3;
  transform: translateY(-50%); }

.nav-arrow-right {
  right: 10px; }

.nav-arrow-left {
  left: 10px; }

/*--------------------*\
	Search Panel
\*--------------------*/
.search-panel {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  height: 100px;
  background-color: #f5f5f5;
  color: #6c6c6c; }

.search-form {
  position: relative;
  top: 50%;
  text-align: center;
  font-family: 'Roboto Condensed';
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  .search-form input {
    padding: 5px 10px;
    outline: none;
    background: rgba(255, 255, 255, 0.8);
    background: transparent;
    border: 1px solid #6c6c6c;
    text-transform: capitalize;
    color: #6c6c6c;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
    .search-form input::-webkit-input-placeholder {
      /* WebKit, Blink, Edge */
      color: #ddd; }
    .search-form input:-moz-placeholder {
      /* Mozilla Firefox 4 to 18 */
      color: #ddd;
      opacity: 1; }
    .search-form input::-moz-placeholder {
      /* Mozilla Firefox 19+ */
      color: #ddd;
      opacity: 1; }
    .search-form input:-ms-input-placeholder {
      /* Internet Explorer 10-11 */
      color: #ddd; }

/*--------------------*\
	Navbar
\*--------------------*/
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  height: 60px;
  font-family: 'Roboto Condensed', sans-serif;
  background-color: rgba(255, 255, 255, 0.3);
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.lighten {
  background-color: rgba(255, 255, 255, 0.3); }

.navbar__title {
  display: inline-block;
  position: absolute;
  left: 10px;
  padding-left: 5px;
  line-height: 60px;
  font-size: 20px;
  font-weight: 400; }

.navbar__refresh, .navbar__search {
  width: 60px;
  height: 60px;
  display: inline-block;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 60px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer; }

.navbar__search {
  right: 60px; }

/*--------------------*\
	Weather
\*--------------------*/
#weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 60px;
  bottom: 200px;
  left: 0;
  right: 0;
  text-align: center; }

.weather__location {
  display: inline-block;
  height: 20px;
  width: 100%;
  line-height: 20px;
  padding: 10px;
  font-size: 17px;
  text-align: left; }

.weather__center-block {
  width: 100%;
  text-align: center; }

.weather__center-block-upper {
  display: flex;
  justify-content: center; }

.weather__center-block__temp {
  padding: 0;
  margin-left: 10px;
  font-size: 3em; }

.weather__center-block__icon {
  padding: 0;
  font-size: 1.5em;
  vertical-align: middle; }

.weather__center-block__desc {
  text-transform: capitalize;
  font-size: 2em;
  font-weight: 100; }

/*--------------------*\
	Details
\*--------------------*/
#details {
  display: flex;
  justify-content: space-around;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 100;
  padding: 0 20px; }

.details__wind, .details__temp {
  height: 100px; }
  .details__wind p, .details__temp p {
    margin: 5px 0;
    padding: 0;
    text-align: left; }

.windir-icon {
  display: inline-block; }

.windspeed-icon {
  padding-left: 5px; }

/*--------------------*\
	Forecast
\*--------------------*/
.forecast__panel {
  display: flex;
  flex-direction: column;
  width: 100%; }

.forecast__day {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.3); }
  .forecast__day i {
    font-size: 2em;
    margin-bottom: 10px; }

.forecast__day-dayName {
  font-size: 1.5em;
  font-weight: 100; }

.forecast__day-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  .forecast__day-left p {
    font-size: 1em; }
